<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    <!-- font awsome -->
    <script src="https://kit.fontawesome.com/383abdf887.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    @*css*@
    @*<link href="@Url.Content("~/Content/GiaodienKH.css")" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/GD.css" rel="stylesheet" />*@
    <link href="~/Content/NewCSS.css" rel="stylesheet" />


    <!-- gg font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
    <style>
    </style>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
            color: black
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>

    @* PHẦN HEADER  *@
    <header>
        <img src="~/Content/images/banner.png" style="width:1520px" />
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="#"><img src="~/Content/images/logo.png" style="width:40px" ," heigh: 40px" /></a></li>
                <li>
                    @using (Html.BeginForm("Productlist", "SanPhams", FormMethod.Get))
                    {
                        <input type="text" placeholder="Bạn cần tìm gì?" name="SearchString" required><i class="fas fa-search"></i>
                    }
                </li>


                <li>
                    <div class="dropdown">
                        <a href="#">Điện thoại</a>
                        <div class="dropdown-content">
                            <p><a class="dropdown-item" href="/SanPhams/LoaiSP/1">IPHONE</a></p>
                            <p><a class="dropdown-item" href="/SanPhams/LoaiSP/2">SAMSUNG</a></p>
                            <p><a class="dropdown-item" href="/SanPhams/LoaiSP/3">OPPO</a></p>
                        </div>
                    </div>
                <li><a href="/SanPhams/ThongTin">Thông tin cửa hàng</a></li>
                <li><a href="#">Hỏi đáp</a></li>
                <li><a href="/XemDonHang//ShowToCart"</a><i class="tk and cart"></i>Giỏ hàng</li>
                @if (Session["TenDN"] == null)
                {
                   

                    <li>
                        <a class="nav-link" href="@Url.Action("DangNhap", "NguoiDungt")">Đăng nhập</a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("DangKy", "NguoiDungt")">Đăng ký</a>
                    </li>

                }
                else if (Session["TenDN"] != null)
                {
                  
                    <li>
                        @*<a class="nav-link" href="Users/Edit/@HttpContext.Current.Session["MaUser"].ToString()"><span> Hello  @Session["TenDN"]</span></a>*@
                        <a style="color:white" href="@Url.Action("Details", "Users", new { id = Session["MaUser"]  })"> Xin chào @Session["TenDN"]</a>


                    </li>
                    <li>
                        <a class="nav-link" style="text-decoration:none;"> @Html.ActionLink("Đơn mua", "DonHangKH", "SanPhams", new { IDCus = @HttpContext.Current.Session["MaUser"].ToString() }, null)</a>
                    </li>

                    <li>
                        @*<a class="nav-link" href="">Đăng xuất</a>*@
                        <a href="@Url.Action("DangXuat","NguoiDung")" class="nav-link">Đăng xuất</a>

                    </li>

                }
            </ul>
        </div>
    </nav>


    @* PHẦN BODY CHỨA NỘI DUNG SẢN PHẨM *@
    <div>
        @RenderBody()
    </div>

    @* PHẦN FOOTER  *@
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 footer-item">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-item">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-item">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">Phone</a></li>
                        <li><a href="#">TV</a></li>
                        <li><a href="#">Technology</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-item">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="all-right-reserved">&copy;2023 LYT CellPhone | All Rights Reserved</p>
    </footer>
</body>
</html>
